# Automatically disband deeds when the mayor has been offline for a certain number of days?
# The number of days can be configured below; if the mayor has been inactive/offline for
# that number of days, the village/deed will disband regardless of how much upkeep it has.
# Default: false
autoDisbandInactive=false

# If enabled (above), set the number of days here. If the mayor is offline/inactive for this
# period of time, the village/deed will disband regardless of how much upkeep it has.
# Default: 30
autoDisbandInactiveDays=30
